body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/*
.header {
  display: flex;
}
.logo {
  width: 6rem;
  margin-right: auto;
}
.container {
  background-color: rgb(208, 226, 235);
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto;
  display: flex;
}
.service-t {
  position: relative;
  top: -50px;
  left: 50%;
}
.cta {
  background-color: beige;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  margin: auto;
  display: flex;
}
.cta,
p {
  padding-top: 50px;
}
.why-t {
  position: relative;
  top: -60px;
  left: 50%;
  margin: 2rem;
  text-shadow: 5px 10px 10px black;
}
  *
.box {
  background-color: rgb(179, 202, 233);
  width: 30px;
  height: 30px;
  padding: 30px;
  /* margin: 5px; */
/* border-radius: 5px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

/* .flexcontainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
} */

/*============ exercise ================= */

.container {
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  background-color: rgb(222, 191, 251);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  justify-content: center;
  text-align: center;
  flex-grow: 0;
}
.box button {
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 100px;
}
.box button:hover {
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
