* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #111111;
}
.logo {
  width: 120px;
  height: auto;
  margin-left: 220px;
}

.hero {
  padding: 80px 20px;
  width: 800px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  max-width: 700px;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transform: translateX(250px);
}
.footer {
  display: relative;
  text-align: center;
  padding: 10px;
}

.bg {
  background-color: rgb(202, 216, 244);
}
